@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 15 23 42;
    --card: 255 255 255;
    --card-foreground: 15 23 42;
    --popover: 255 255 255;
    --popover-foreground: 15 23 42;
    --primary: 20 184 166;
    --primary-foreground: 255 255 255;
    --secondary: 204 251 241;
    --secondary-foreground: 15 118 110;
    --muted: 240 253 250;
    --muted-foreground: 71 85 105;
    --accent: 103 232 249;
    --accent-foreground: 8 51 68;
    --destructive: 239 68 68;
    --destructive-foreground: 248 250 252;
    --border: 203 213 225;
    --input: 203 213 225;
    --ring: 20 184 166;
    --radius: 0.75rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans antialiased;
    font-family:
      "Inter",
      system-ui,
      -apple-system,
      sans-serif;
  }
}
